<div id="CurrentCardPanel">
  <div id="CurrentCardPanel-player">
    Card {{game.playedCards.length}} of {{game.cards.length}}
  </div>
  {{#if game.lastCardIfWrong}}
    <div id="CurrentCardPanel-lastWrongCard">
      Last card: {{game.lastCardIfWrong.event}} {{game.lastCardIfWrong.year}}
    </div>
  {{/if}}
  <div id="CurrentCardPanel-card">
    Current card: {{currentCard.event}}
  </div>
</div>
<div id="Timeline">
  <ul>
    <li><button class="Timeline-placeCardButton" {{action 'placeCard' -1}}>Place card</button></li>
    {{#each game.timelineCards as |card i|}}
      <li class="Timeline-card">
        {{card.event}} {{card.year}}
      </li>
      <li><button class="Timeline-placeCardButton" {{action 'placeCard' i}}>Place card</button></li>
    {{/each}}
  </ul>
</div>

{{#if showWrongModal}}
  {{#modal-dialog close='toggleWrong' class='wrongModal'}}
    <h1>Sorry!</h1>
    <p>
      <strong>{{game.lastCardIfWrong.event}}</strong>
      was in
      <strong>{{game.lastCardIfWrong.year}}</strong>
    </p>
    <button {{action 'toggleWrong'}}>Close</button>
  {{/modal-dialog}}
{{/if}}
