<div id="Game-top">
  <div id="Game-players">
    {{#each game.players  as |player i| }}
      {{player-component player=player currentPlayer=game.currentPlayer}}
    {{/each}}
  </div>
  {{#if gameEnded}}
    <div id="Game-winner">
      {{game.winner.name}} won!!!
    </div>
  {{/if}}
</div>

<div id="Game-board">

  <div id="CurrentCardPanel">
    Card {{game.playedCards.length}} of {{game.cards.length}}
    {{#if game.lastCardIfWrong}}
      <div id="CurrentCardPanel-lastWrongCard">
        Last wrong card: {{game.lastCardIfWrong.event}} {{game.lastCardIfWrong.year}}
      </div>
    {{/if}}
    <div id="CurrentCardPanel-card">
      <div class="Timeline-card {{if gameEnded 'game-ended'}}" >
        <div class="Timeline-card-event">{{currentCard.event}}</div>
      </div>
    </div>
  </div>

  <div id="Timeline">
    {{#unless gameEnded}}
      <div class="Timeline-placeCardButton" {{action 'placeCard' -1}}>&nbsp;</div>
    {{/unless}}
    {{#each game.timelineCards as |card i|}}
      <div class="Timeline-card {{if gameEnded 'game-ended'}}" >
        <div class="Timeline-card-year">{{card.year}}</div>
        <div class="Timeline-card-event">{{card.event}}</div>
      </div>
      {{#unless gameEnded}}
        <div class="Timeline-placeCardButton" {{action 'placeCard' i}}>&nbsp;</div>
      {{/unless}}
    {{/each}}
  </div>

</div>

{{#if showWrongModal}}
  {{#modal-dialog close='toggleWrong' class='wrongModal'}}
    <h1>Sorry!</h1>
    <p>
      <strong>{{game.lastCardIfWrong.event}}</strong>
      was in
      <strong>{{game.lastCardIfWrong.year}}</strong>
    </p>
    <button {{action 'toggleWrong'}}>Close</button>
  {{/modal-dialog}}
{{/if}}
