<div id="Game-top">
  <div id="Game-players">
    {{#each game.players  as |player i| }}
      <div class="Game-player">
        <div class="Game-playerName">{{player.name}}</div>
        <div class="Game-cardsRemaining">{{player.cardsRemaining}}</div>
      </div>
    {{/each}}
  </div>
</div>

<div id="Game-board">

  <div id="CurrentCardPanel">
    Card {{game.playedCards.length}} of {{game.cards.length}}
    {{#if game.lastCardIfWrong}}
      <div id="CurrentCardPanel-lastWrongCard">
        Last wrong card: {{game.lastCardIfWrong.event}} {{game.lastCardIfWrong.year}}
      </div>
    {{/if}}
    <div id="CurrentCardPanel-card">
      <div class="Timeline-card">
        <div class="Timeline-card-event">{{currentCard.event}}</div>
      </div>
    </div>
  </div>

  <div id="Timeline">
      <div class="Timeline-placeCardButton" {{action 'placeCard' -1}}>&nbsp;</div>
      {{#each game.timelineCards as |card i|}}
        <div class="Timeline-card">
          <div class="Timeline-card-year">{{card.year}}</div>
          <div class="Timeline-card-event">{{card.event}}</div>
        </div>
        <div class="Timeline-placeCardButton" {{action 'placeCard' i}}>&nbsp;</div>
      {{/each}}
  </div>

</div>

{{#if showWrongModal}}
  {{#modal-dialog close='toggleWrong' class='wrongModal'}}
    <h1>Sorry!</h1>
    <p>
      <strong>{{game.lastCardIfWrong.event}}</strong>
      was in
      <strong>{{game.lastCardIfWrong.year}}</strong>
    </p>
    <button {{action 'toggleWrong'}}>Close</button>
  {{/modal-dialog}}
{{/if}}
