
<div class="GameBoard-content">

  <div class="GameBoard-header">
    <h2>{{game.code}}</h2>
    <div class="GameBoard-players">
      {{#each game.players as |player| }}
        {{player-item player=player thisPlayer=gameService.player}}
      {{/each}}
    </div>
  </div>


  <div class="GameBoard-status">
    {{#if statusMsg}}
      <div class="GameBoard-statusMsg">{{statusMsg}}</div>
    {{/if}}
    {{#if lastMove}}
      <div class="GameBoard-lastPlacedTitle">Last Move</div>
      <div>
        <span class="GameBoard-status-lastPlayer"> {{lastMove.lastPlayer.name}}</span> placed:
      </div>

      {{#if beforeCard}}
        <div class="GameBoard-status-placedBeforeCard">
          <div class="GameBoard-card-event">{{beforeCard.event}}</div>
          <div>{{beforeCard.year}}</div>
        </div>
      {{/if}}

      <div class="GameBoard-status-placedCard {{if lastMove.correct "correct"}}">{{lastMove.lastCard.event}}</div>

      {{#if afterCard}}
        <div class="GameBoard-status-placedAfterCard">
          <div class="GameBoard-card-event">{{afterCard.event}}</div>
          <div>{{afterCard.year}}</div>
        </div>
      {{/if}}

      <div>
        {{#if lastMove.correct}}
          {{fa-icon "check" class="Status-correct-icon"}}
        {{else}}
          {{fa-icon "remove" class="Status-incorrect-icon"}}
        {{/if}}
      </div>
    {{/if}}
  </div>
  <div class="GameBoard-currentCardContainer">
    <div class="GameBoard-currentCard">
      <div class="GameBoard-currenctCard-event">{{game.currentCard.event}}</div>
    </div>
  </div>

  <div class="GameBoard-cards">
    <div class="listLine">&nbsp;</div>
    <ul class="GameBoard-cardList">
      {{#unless gameEnded}}
        {{#if isMyTurn}}
          <li class="GameBoard-placeCardButton" {{action 'placeCard' -1}}>Place here</li>
        {{/if}}
      {{/unless}}
      {{#each sortedCards as |card i| }}
        <li class="GameBoard-card">
          <div class="GameBoard-card-event">{{card.event}} </div>
          <br/>
          <div>{{card.year}} </div>
        </li>
        {{#if isMyTurn}}
          <li class="GameBoard-placeCardButton" {{action 'placeCard' i}}>Place here</li>
        {{/if}}
      {{/each}}
    </ul>
  </div>

</div>
