
<div class="GameBoard-content">

  <div class="GameBoard-header">
    <div class="GameBoard-title">
      <span class="GameBoard-code">{{title}}</span>
      {{#if canLeave}}
        <span class="GameBoard-leaveGame" {{action "leaveGame"}}>Leave</span>
      {{/if}}
    </div>
    <div class="GameBoard-players">
      {{#each game.players as |player| }}
        {{player-item player=player thisPlayer=gameService.player}}
      {{/each}}
    </div>
  </div>
  <div class="GameBoard-body">
    <div class="GameBoard-status">
      {{#if statusMsg}}
        <div class="GameBoard-statusMsg">{{statusMsg}}</div>
      {{/if}}
      {{#if hasLastMove}}
        <div class="GameBoard-lastPlacedTitle">Last Move</div>
        <div>
          <span class="GameBoard-status-lastPlayer"> {{game.lastPlayer.name}}</span> placed:
        </div>

        {{#if afterCard}}
          <div class="GameBoard-status-placedAfterCard">
            <div class="GameBoard-card-event">{{afterCard.event}}</div>
            <div>{{afterCard.timeLabel}}</div>
          </div>
        {{/if}}

        <div class="GameBoard-status-placedCard {{if game.lastResult "correct"}}">{{game.lastCard.event}}</div>

        {{#if beforeCard}}
          <div class="GameBoard-status-placedBeforeCard">
            <div class="GameBoard-card-event">{{beforeCard.event}}</div>
            <div>{{beforeCard.timeLabel}}</div>
          </div>
        {{/if}}

        <div>
          {{#if game.lastResult}}
            {{fa-icon "check" class="Status-correct-icon"}}
          {{else}}
            {{fa-icon "remove" class="Status-incorrect-icon"}}
          {{/if}}
        </div>
      {{/if}}
    </div>

    <div class="GameBoard-currentCardContainer">
      {{#if game.isComplete}}
        <div class="GameBoard-winner">
          {{#if noMoreCards}}
            <div class="GameBoard-noMoreCardsMsg">No more cards, so game over!</div>
            <br/>
          {{/if}}
          <div class="GameBoard-winner-name">{{winners}}!</div>
          <div><button {{action "playAgain"}} class="GameBoard-playAgain">Play again</button></div>
        </div>
      {{else}}
        <div class="GameBoard-currentCard">
          <div class="GameBoard-currenctCard-event">{{game.currentCard.event}}</div>
        </div>
      {{/if}}
    </div>

    <div class="GameBoard-timeline">
      <div class="GameBoard-topImage">
        <img class="GameBoard-timelineImage" src="images/erlich-hand.jpeg" />
      </div>
      <div class="GameBoard-bottomImage">
        <img class="GameBoard-timelineImage" src="images/primitive-man.png" />
      </div>
      {{#if showFirstRoundInstructions}}
        <div class="GameBoard-firstRoundInstructions">
          Click a dot to place a card
        </div>
      {{/if}}
      {{#if showFirstInstructions}}
        <div class="GameBoard-topInstruction">
          Click dot to place after year {{firstTimelineCardYear}}
        </div>
      {{/if}}
      {{#if showFirstInstructions}}
        <div class="GameBoard-bottomInstruction">
          Click dot to place before year {{firstTimelineCardYear}}
        </div>
      {{/if}}
      <div class="listLine">&nbsp;</div>
      <ul class="GameBoard-cardList">
        <li>&nbsp;</li>
        {{place-card-button position=-1 isComplete=game.isComplete isMyTurn=isMyTurn placeCard="placeCard" }}
        {{#each game.timelineCards as |card i| }}
          <li class="GameBoard-card">
            <div class="GameBoard-card-event">{{card.event}} </div>
            <br/>
            <div>{{card.timeLabel}} </div>
          </li>
          {{place-card-button position=i isComplete=game.isComplete isMyTurn=isMyTurn placeCard="placeCard" }}
          <li>&nbsp;</li>
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="GameBoard-footer">
    &nbsp;
  </div>
</div>
