{{#liquid-if game.started class="game-started"}}

  {{game-board
    game=game
    player=player
    canLeave=canLeave
    playAgain=(action "abandonGame")
    leaveGame=(action "abandonGame")
  }}

{{else}}

  <div class="Waiting-content">
    <div class="Game-status">
      <div class="WaitingToStart">
        <h2> Game code:</h2>
        {{model.code}}

        <div class="Game-players">
          <h2>Who's here:</h2>
          <ul>
            {{#each game.players as |player| }}
              <li class="Game-player">
                {{player.name}}
              </li>
            {{/each}}
          </ul>
        </div>
      </div>

      {{#if player.isCreator}}
        <div class="StartButtons">
          <button class="startGame" {{action 'startGame'}} >Start Game</button>
          <button class="abandonGame" {{action 'abandonGame'}} >Abandon Game</button>
        </div>
      {{else}}
        <div>
          Waiting to start...
        </div>
        {{#if canLeave}}
          <button class="leaveGame" {{action 'abandonGame'}} >Leave Game</button>
        {{/if}}
      {{/if}}

    </div>
    {{image-timeline imagesSrc=imagesSrc class="ImageTimeline"}}
  </div>

{{/liquid-if}}

