<h2> Game: {{model.code}}</h2>
<h3>Player: {{player.name}}</h3>



{{#if game.isWaitingToStart}}
  <ul class="Game-players">
    {{#each game.players as |player| }}
      <li class="Game-player">
        {{player.name}}
      </li>
    {{/each}}
  </ul>
  {{#if player.isCreator}}
    <button class="startGame" {{action 'startGame'}} >Start Game</button>
    <button class="abandonGame" {{action 'abandonGame'}} >Abandon Game</button>
  {{else}}
    <button class="leaveGame" {{action 'leaveGame'}} >Leave Game</button>
  {{/if}}
{{else}}
  {{game-board game=game}}
  {{socket-message-log channelService=channelService}}
{{/if}}

