<h3>Enter Players</h3>
<ul class="names-list">
  {{#each players  as |player i| }}
    <li>
      Player {{i}}:
      {{input class='playerName' value=player.name}}
      {{input class='cardsRemaining' value=player.cardsRemaining}}
    </li>
  {{/each}}
</ul>
<button class="NewGame" {{action 'newGame'}} >New Game</button>


<h3>Join Game</h3>

{{input class="gameCode" value=gameCode}}
<button class="joinGame" {{action 'joinGame'}} >Join Game</button>
