<div class="content">

  <div class="GameForms">
    <div class="GameForms-first">
      <div class="CreateGameForm GameForm">
        {{input class="CreatePlayerName" placeholder="Player name" value=createGamePlayer}}
        {{input class="CreateGameCode" placeholder="Game code" value=newGameCode}}
        <div>&nbsp;<!--fake out flexbox --></div>
        {{#simple-select
          value=initialCardCount
          label-key='name'
          on-select=(action 'selectedCardCount') as |sb|}}
          {{#each cardCountRange as |count|}}
            {{#sb.option value=count}}Place {{pluralize count "card"}} to win {{/sb.option}}
          {{/each}}
        {{/simple-select}}
        <br/>
        <button class="CreateGameButton" {{action 'createGame'}} >Create Game</button>
      </div>
      <h1>Timeline</h1>
    </div>
    <div class="JoinGameForm GameForm">
      {{input class="JoinPlayerName" placeholder="Player name" value=joinGamePlayer}}
      {{input class="JoinGameCode" placeholder="Game code" value=joinGameCode}}
      <button class="JoinGameButton" {{action 'joinGame'}} >Join Game</button>
    </div>
  </div>

  {{image-timeline imagesSrc=imagesSrc}}

</div>


<!--<div class="EventImage-container">-->
  <!--<img class="EventImage" src="http://teachers.ausd.net/antilla/liberty.jpg" />-->
<!--</div>-->
