<div class="content">

  <div class="GameForms">
    <div class="GameForms-first">
      <h1>Timeline</h1>
      <div class="CreateGameForm GameForm">
        {{input class="CreatePlayerName" placeholder="Player name" value=createGamePlayer}}
        {{error-egg top="-10px" right="-200px" errors=createGameErrors errorKey="blankPlayerName" }}
        {{input class="CreateGameCode" placeholder="Game code" value=newGameCode}}
        {{error-egg top="170px" right="-200px" errors=createGameErrors errorKey="blankGameCode" }}
        <div>&nbsp;<!--fake out flexbox --></div>
        {{#simple-select
          value=initialCardCount
          label-key='name'
          on-select=(action 'selectedCardCount') as |sb|}}
          {{#each cardCountRange as |count|}}
            {{#sb.option value=count}}Place {{pluralize count "card"}} to win {{/sb.option}}
          {{/each}}
        {{/simple-select}}
        <br/>
        <button class="CreateGameButton" {{action 'createGame'}} >Create Game</button>
      </div>
    </div>

    <div class="JoinGame">
      <div class="JoinGameForm GameForm">
        {{input class="JoinPlayerName" placeholder="Player name" value=joinGamePlayer}}
        {{error-egg top="10px" left="170px" errors=joinGameErrors errorKey="blankPlayerName" }}
        {{input class="JoinGameCode" placeholder="Game code" value=joinGameCode}}
        {{error-egg top="200px" left="170px" errors=joinGameErrors errorKey="blankGameCode" }}
        <button class="JoinGameButton" {{action 'joinGame'}} >Join Game</button>
      </div>
    </div>
  </div>

  {{image-timeline imagesSrc=imagesSrc class="ImageTimeline"}}

</div>


<!--<div class="EventImage-container">-->
  <!--<img class="EventImage" src="http://teachers.ausd.net/antilla/liberty.jpg" />-->
<!--</div>-->
