<div class="GameForms">
  <div class="CreateGameForm GameForm">
    {{input class="PlayerName" placeholder="Player name" value=createGamePlayer}}
    {{input class="CardCount" placeholder="Card count" value=initialCardCount}}
    {{input class="NewGameCode" placeholder="Game code" value=newGameCode}}
    <button class="CreateGameButton" {{action 'createGame'}} >Create Game</button>
  </div>

  <div class="JoinGameForm GameForm">
    {{input class="PlayerName" placeholder="Player name" value=joinGamePlayer}}
    {{input class="NewGameCode" placeholder="Game code" value=joinGameCode}}
    <button class="JoinGameButton" {{action 'joinGame'}} >Join Game</button>
  </div>
</div>

{{image-timeline imagesSrc=imagesSrc}}


<!--<div class="EventImage-container">-->
  <!--<img class="EventImage" src="http://teachers.ausd.net/antilla/liberty.jpg" />-->
<!--</div>-->
