
<h3>Name</h3>
{{input class="PlayerName" value=playerName}}

<h3>Create Game</h3>
{{input class="NewGameCode" value=newGameCode}}
<button class="CreateGameButton" {{action 'createGame'}} >Create Game</button>

<h3>Join Game</h3>
{{input class="ExistingGameCode" value=joinGameCode}}
<button class="JoinGameButton" {{action 'joinGame'}} >Join Game</button>
