
<h3>Name</h3>
{{input class="playerName" value=playerName}}

<h3>Create Game</h3>
{{input class="newGameCode" value=newGameCode}}
<button class="NewGame" {{action 'createGame'}} >Create Game</button>

<h3>Join Game</h3>
{{input class="existingGameCode" value=joinGameCode}}
<button class="joinGame" {{action 'joinGame'}} >Join Game</button>
